<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    {{#description}}
    <meta content="{{.}}" name="description" />
    {{/description}}
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>
    <h1>{{title}}</h1>

    {{#blocks}}
        {{#isHeading}}
        <h{{level}}>{{text}}</h{{level}}>
        {{/isHeading}}

        {{#isText}}
        <p>
            {{#segments}}
                {{#isPlain}}{{text}}{{/isPlain}}
                {{#isInlineLink}}<a href="{{url}}">{{text}}</a>{{/isInlineLink}}
            {{/segments}}
        </p>
        {{/isText}}

        {{#isList}}
        <ul>
            {{#items}}
            <li>{{.}}</li>
            {{/items}}
        </ul>
        {{/isList}}

        {{#isCode}}
        <pre><code{{#language}} class="language-{{.}}"{{/language}}>{{content}}</code></pre>
        {{/isCode}}

        {{#isTextWithLink}}
        <p>
            {{text}}
            <a href="{{url}}">{{linkText}}</a>.
        </p>
        {{/isTextWithLink}}
    {{/blocks}}
</body>
</html>
